<IfModule mod_authz_core.c>
  <FilesMatch "\.(key|env)$">
    Require all denied
  </FilesMatch>
</IfModule>

<IfModule !mod_authz_core.c>
  <FilesMatch "\.(key|env)$">
    Order allow,deny
    Deny from all
  </FilesMatch>
</IfModule>
